<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>ViewMenu</servlet-name>
    <servlet-class>ua.com.e2k.ViewMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMenu</servlet-name>
    <url-pattern>/menu</url-pattern>
    
    
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddMenu</servlet-name>
    <servlet-class>ua.com.e2k.AddMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenu</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DellMenu</servlet-name>
    <servlet-class>ua.com.e2k.DelMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DellMenu</servlet-name>
    <url-pattern>/del</url-pattern>

  </servlet-mapping>
  <servlet>
    <servlet-name>FilterMenu</servlet-name>
    <servlet-class>ua.com.e2k.FilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterMenu</servlet-name>
    <url-pattern>/filter</url-pattern>

  </servlet-mapping>

</web-app>
